<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>Inbox</li>
      <li>Sent</li>
      <li>Profile</li>
      <li>Read Me</li>
    </ul>
  </nav>


  {{outlet}}
</div>
