<h1>Your emails</h1>

<ul>
  {{#each email in model}}
  <li>
    <h4>{{email.to}}</h4><br>
    {{#link-to 'email' email }}{{email.subject}}{{/link-to}}
    </li>
  {{/each}}
</ul>

{{#link-to 'new-email' classNames="btn btn-primary"}}New Email{{/link-to}}
